@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bevel-clip-2xl {
    clip-path: polygon(
      0 0,
      calc(100% - 20px) 0,
      100% 20px,
      100% 100%,
      20px 100%,
      0 calc(100% - 20px)
    );
  }
  .bevel-clip-xl {
    clip-path: polygon(
      0 0,
      calc(100% - 10px) 0,
      100% 10px,
      100% 100%,
      10px 100%,
      0 calc(100% - 10px)
    );
  }
  .text-outline {
    text-shadow:
      0 0 0.5rem #000,
      0 0 1rem #000,
      0 0 2rem #000,
      0 0 4rem #000,
      0 0 8rem #000,
      0 0 16rem #000;
  }
}
